body{
    margin: 0px 200px 0px 200px; /* verso orario da top a left*/
    display: grid;
    min-height: 50vh;
    background-color: #F0EFEF;
}

.container1{
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 400px 400px;
    grid-template-areas:
    "top1 top2"
    "top1 top3"
}

.top1{
    grid-area: top1;
    background-color: lightblue;
}

.top-lightblue-h1{
    font-size: 80px;
    margin: 10px 150px 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-lightblue-p{
    margin: 10px 150px 0px 150px;
    font-size: 30px;
}

.white-text{
    margin: 0px;
    color: white;
}

.top2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: top2;
    background-color: orangered;
}

.top-orangered-p{
    font-size: 20px;
}

.top-orangered-h1{
    color: white;
    font-size: 50px;
    margin: 0px;
}

.top3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: top3;
    background-color: orange;
}

.top-orange-p{
    font-size: 20px;
}

.top-orange-h1{
    color: white;
    font-size: 50px;
    margin: 0px;
}

.navigation{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 30px 200px 30px 200px;
}

li a{
    text-decoration: none;
    color: gray;
}

.home a{
    color: black;
}

.container2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 600px;
    grid-template-areas:
    "gray"
    "orange"
}

.gray{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: gray;
    background-color: #A4A3A3;
}

.main-gray-h1{
    margin: 100px 0px 0px 100px;
    width: 400px;
    font-size: 50px;
    color: white;
}

.main-join{
    background-color: white;
    border: none;
    width: 150px;
    padding: 15px 32px;
    text-decoration: none;
}

.main-gray-p{
    width: 360px;
    font-size: 20px;
    margin: 100px 200px 0px 500px;;
}

.orange{
    display: grid;
    grid-template-rows: 600px;
    grid-area: orange;
    background-color: orange;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 350px 350px;
    grid-template-areas:
    "box1 box2 box3"
    "box4 box5 box6"
}

.box1{
    grid-area: box1;
    background-color: lightblue;
}

.box2{
    grid-area: box2;
    background-color: white;
}

.box3{
    grid-area: box3;
    background-color: #F0EFEF;
}

.box4{
    grid-area: box4;
    background-color: white;
}

.box5{
    grid-area: box5;
    background-color: orangered;
}

.box6{
    grid-area: box6;
    background-color: white;
}

.bottom{
    height: 80px;
    background-color: #A4A3A3;
}

footer{
    height: 300px;
    background-color: gray;
}